# Use default MacPorts settings
!include @PREFIX@/etc/@NAME@/macports-default.cnf

# if you need networking like bind from IP Addres plesase un comment line 5
#[mysqld]
# # to allow bid addres 
#user         = mysql
#socket       = /opt/local/var/run/mysql8/mysqld.sock
#port         = 3306
#bind-address = 0.0.0.0
#skip_networking         = off

#[client]
#port         = 3306
#socket       = /opt/local/var/run/mysql8/mysqld.sock
